<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mf.o.self_educated.NoteApp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_note"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteApp">
        <activity
            android:name=".Work_page"
            android:exported="false" />
        <activity
            android:name=".Study_page"
            android:exported="false" />
        <activity
            android:name=".AddNew_notes"
            android:exported="false" />
        <activity
            android:name=".Shopping_page"
            android:exported="false" />
        <activity
            android:name=".Yearly_page"
            android:exported="false" />
        <activity
            android:name=".Money_page"
            android:exported="false" />
        <activity
            android:name=".Monthly_page"
            android:exported="false" />
        <activity
            android:name=".Todo_page"
            android:exported="false" />
        <activity
            android:name=".First_page"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>